<h1>Welcome back, <%= current_user.name %></h1>

<p>Looking for some inspiration? Check out these art supplies!</p>
<br>
<% @categories.each do |category| %>
    <p><%= category.name %></p>
    <p><%= category.art_form %></p><br>

    <% category.supplies.each do |supply| %>
        <p> Medium: <%= supply.medium %></p>
        <p> Tools: <%= supply.tools %></p><br>
    <% end %>
<% end %>
<br>

<form action="/logout" method="POST">
    <input type="submit" value="Log Out">
</form>