<h3><%= @category.art_form %></h3>
<hr>
<br>
    <% @supplies.each do |s|%>
        <p> Medium: <%= s.medium %></p><br>
        <p> Tools: <%= s.tools %></p><br>

        <form action="/supplies/<%= s.id %>" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Delete">
        </form>
    <% end %>

<br>
<a href="/categories/<%= @category.id %>/supplies/new"><button>Add New Supplies</button></a><br>
<br>
<a href="/categories"><button>Go Back</button></a><br>